= form_tag create_color_palette_path, method: 'post' do |f|
  = label_tag :r, 'R:'
  = text_field_tag :r
  %br
  = label_tag :g, 'G:'
  = text_field_tag :g
  %br
  = label_tag :b, 'B:'
  = text_field_tag :b
  %br
  = hidden_field_tag :a, '1'
  = submit_tag 'Create Color'
