#notice
  = notice

%h1
  = @palette.name

.color_bubbles.clearfix
  - if @palette.colors
    - @palette.colors.each do |color|
      .color_and_delete_link_holder
        = render 'color_bubble', color: color
        - if current_palette_owner
          = render 'palettes/delete_color_link', color: color

%br

#color_form
  = render 'form_for_color'

%br

= link_to 'Back to Index', palettes_path
- if current_palette_owner
  :preserve
     |
  = link_to 'Delete Palette', @palette, method: :delete, data: { confirm: 'Are you sure?' }
