#notice
  = notice

%h1
  = @palette.name

= render 'colors/color_bubbles', colors: @palette.colors, palette_id: @palette.id

%br

#color_form
%br

- if user_signed_in? and current_user.id == @palette.user_id
  = link_to 'Add New Color', new_color_palette_path, remote: true, :id => 'new_color_link'
  :preserve
     *
= link_to 'Back to Index', palettes_path
- if user_signed_in? and current_user.id == @palette.user_id
  :preserve
     *
  = link_to 'Delete Palette', @palette, method: :delete, data: { confirm: 'Are you sure?' }
