#notice
  = notice

%h1
  = @palette.name

.color_bubbles.clearfix
  - if @palette.colors
    - @palette.colors.each do |color|
      .color_and_delete_link_holder
        = render 'colors/color', color: color
        - if current_palette_owner
          = render 'palettes/delete_color_link', color: color

%br

#color_form
%br

- if current_palette_owner
  = link_to 'Add New Color', new_color_palette_path, :id => 'new_color_link'
  :preserve
     |
  = link_to 'Back to My Palettes', user_palettes_path(current_user)
  :preserve
     |
  = link_to 'Delete Palette', @palette, method: :delete, data: { confirm: 'Are you sure?' }
- else
  = link_to 'Back to Palettes', palettes_path
