
.display_entry
  = image_tag @picture.current_version.display_png.to_data_url, class: 'picture_display'
  %br
  .picture_name
    = @picture.name
    %br

    = link_to 'Edit In Painter', edit_picture_path(@picture.id)
    - if @picture.user == current_user
      = button_to 'Delete Image', { action: 'destroy', id: @picture.id },
          method: :delete, data: { confirm: 'Are you sure you want to destroy this picture?' }
  - @picture.snapshots.reverse.each do |snapshot|
    = render 'snapshots/snapshot_thumbnail', snapshot: snapshot
%br
