%table.snapshots_created_count_table
  %tr
    %th
      Day
    %th
      Users Created
    %th
      Snapshots Created
  - @created_daily.each do |counts|
    %tr
      %td
        = link_to "#{counts[0].strftime('%A')} the #{counts[0].day.ordinalize}", admin_activity_path(:day, counts[0])
      %td
        = counts[1]
      %td
        = counts[2]
%br
%table
  %tr
    %th
      Week
    %th
      Users Created
    %th
      Snapshots Created
  - @created_weekly.each do |counts|
    %tr
      %td
        = link_to counts[0].strftime('%m/%d'), admin_activity_path(:week, counts[0])
      %td
        = counts[1]
      %td
        = counts[2]
%br
%table
  %tr
    %th
      Month
    %th
      Users Created
    %th
      Snapshots Created
  - @created_monthly.each do |counts|
    %tr
      %td
        = link_to counts[0].strftime('%B'), admin_activity_path(:month, counts[0])
      %td
        = counts[1]
      %td
        = counts[2]
