.faq_question What is this?
This is Pixel Paisan, your pixel buddy!  It's your home for making and sharing pixel art creations.

%br
%br

.faq_question It seems a little... spare.
Well, it's still in alpha. Many features haven't been built yet, and it's not really a full tool ready to compete with Aseprite or Photoshop for your pixels. But we dream big!

%br
%br

.faq_question What does work?
You can draw on the canvas, resize both the canvas and the screensize of the canvas independently, create, share, and modify palettes, and save your creations to your gallery, where other people can view them.

%br
%br

.faq_question What do you want from us, your users?
Like any creator, I crave feedback the way the desert craves rain.

%br
%br

.faq_question Very website!  Such site technologies?
Pixel Paisan is built using Ruby on Rails on the backend and JavaScript, HTML, and CSS on the backend. CoffeeScript, HAML, and SCSS are used to support the frontend development.  Continuous integration is done at
= link_to 'travis-ci.com', 'http://travis-ci.com/'
, hosting at
= link_to 'heroku.com', 'http://www.heroku.com/'
, and user story and project tracking at
= succeed '.' do
  = link_to 'sprint.ly', 'http://www.sprint.ly/'
The (open!) source code can be found at its GitHub repo at
= succeed '.' do
  = link_to 'https://github.com/nbarnes/pixel_paisan', 'https://github.com/nbarnes/pixel_paisan'

%br
%br

.faq_question Who are you, anyway?
My name is Nathaniel Barnes, and I am a software developer living in Seattle, WA with four family members, four horses, five cats, and seven chickens. I enjoy making software tools, drinking chai, and watching chickens. I also like making pixel art, as this application suggests. I can be reached at nbarnes@gmail.com and found on Twitter as @foxbarnes.
