= @user.name
%br
= @user.email
%br
Account created at #{@user.created_at.strftime('%m/%d/%Y')}
%br
Pictures count: #{@pictures_count}
%br
Snapshots count: #{@snapshots_count}
%br
Snapshots last week: #{@recent_snapshots_saved_count}
%br
= link_to 'Gallery', user_gallery_path(@user.galleries.first)
%br
Recent snapshots:
%br
- @recent_snapshots.each do |snapshot|
  = render 'snapshots/snapshot_thumbnail', snapshot: snapshot
